In [1]:
import pandas as pd

In [2]:
from sklearn.datasets import load_boston
import matplotlib.pyplot as plt
import numpy as np
import random
%matplotlib inline

In [3]:
item_category_df = pd.read_csv("data/item_categories.csv")
items_df = pd.read_csv("data/items.csv")
shops_df = pd.read_csv("data/shops.csv")

train_df = pd.read_csv("data/sales_train_v2.csv")
test_df = pd.read_csv("data/test.csv")

In [4]:
train_df.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [5]:
y_data = train_df.item_cnt_day.reshape(train_df.item_cnt_day.size,1)

C:\Users\my\Miniconda3\envs\ml_python\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  """Entry point for launching an IPython kernel.

In [6]:
train_df =train_df.drop("date",axis =1) #str이어서 빼줌
train_df =train_df.drop("item_cnt_day",axis =1)

In [7]:
x_data = train_df.values

In [8]:
x_data.shape

(2935849, 4)

In [9]:
from sklearn import preprocessing

min_max_scaler = preprocessing.MinMaxScaler()
x_data = min_max_scaler.fit_transform(x_data)

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.33)

In [11]:
y_data.shape

(2935849, 1)

In [12]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1967018, 4), (968831, 4), (1967018, 1), (968831, 1))

In [13]:
from sklearn import  linear_model

regr = linear_model.LinearRegression(n_jobs=1)
regr.fit(X_train, y_train)
regr

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [14]:
print('Coefficients: ', regr.coef_) # w1
print('intercept: ', regr.intercept_) #w0

Coefficients:  [[ 0.07087957 -0.05243239  0.16772697  5.83618915]]
intercept:  [1.14639048]

# Metric 측정

In [15]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [16]:
y_true = y_test
y_hat = regr.predict(X_test)

r2_score(y_true, y_hat), mean_absolute_error(y_true, y_hat), mean_squared_error(y_true, y_hat)
# r2_score : 1에 가까우면 좋음

(0.0006140582610194567, 0.44562650026267125, 6.704553051697853)

In [17]:
y_true = y_train
y_hat = regr.predict(X_train)

r2_score(y_true, y_hat), mean_absolute_error(y_true, y_hat), mean_squared_error(y_true, y_hat)

(0.0005277707266283516, 0.444851247067786, 6.928325695641972)

In [18]:
#(0.0007551910839090903, 0.4439985307762574, 4.656163092526312)

In [19]:
# (0.0004965442459390346, 0.4472034331856116, 7.937243370141068)