In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random
from googletrans import Translator
from pandas import Series
from pandas import DataFrame
%matplotlib inline

In [12]:
item_category_df = pd.read_csv("data/item_categories.csv")
items_df = pd.read_csv("data/items.csv")
shops_df = pd.read_csv("data/shops.csv")
sample_df = pd.read_csv("data/sample_submission.csv")
train_df = pd.read_csv("data/sales_train_v2.csv")
test_df = pd.read_csv("data/test.csv")

# date-> day, month, year

In [13]:
f = lambda x: x.split(".")
train_df['date'] =list(map(f, train_df['date']))

In [14]:
f = lambda x: x[0]
train_df['day'] =list(map(f, train_df['date']))

In [15]:
f = lambda x: x[1]
train_df['month'] =list(map(f, train_df['date']))

In [16]:
f = lambda x: x[2]
train_df['year'] =list(map(f, train_df['date']))

In [17]:
train_df = train_df.drop(['date'],axis=1)

In [18]:
# y_data = train_df.item_cnt_day.reshape(train_df.item_cnt_day.size,1)

In [19]:
# train_df = train_df.drop(['item_cnt_day'],axis=1)

# 이상치 제거

In [20]:
icd_value = set(train_df["item_cnt_day"])

In [21]:
more_than_thousand = train_df["item_cnt_day"].where(train_df["item_cnt_day"]>999)
more_than_thousand.dropna(how='all').head()

2326930    1000.0
2909818    2169.0
Name: item_cnt_day, dtype: float64

In [22]:

below_ten = train_df["item_cnt_day"].where(train_df["item_cnt_day"] <-8)
below_ten.dropna(how='all').head()

1057907   -22.0
1835454   -16.0
2048519    -9.0
Name: item_cnt_day, dtype: float64

# 가격변동

In [10]:
pro_min_df = train_df.groupby(["shop_id","item_id","month","year","date_block_num"]).agg({"item_price":"min"}).unstack().fillna(0)
pro_min_df.head()

                           item_price                                       \
date_block_num                     0      1    2    3    4    5    6    7
shop_id item_id month year
0       30      02    2013        0.0  265.0  0.0  0.0  0.0  0.0  0.0  0.0
        31      02    2013        0.0  434.0  0.0  0.0  0.0  0.0  0.0  0.0
        32      01    2013      221.0    0.0  0.0  0.0  0.0  0.0  0.0  0.0
                02    2013        0.0  221.0  0.0  0.0  0.0  0.0  0.0  0.0
        33      01    2013      347.0    0.0  0.0  0.0  0.0  0.0  0.0  0.0

                                     ...                                      \
date_block_num               8    9  ...    24   25   26   27   28   29   30
shop_id item_id month year           ...
0       30      02    2013  0.0  0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0
        31      02    2013  0.0  0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0
        32      01    2013  0.0  0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0
                02    2013  0.0  0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0
        33      01    2013  0.0  0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0


date_block_num               31   32   33
shop_id item_id month year
0       30      02    2013  0.0  0.0  0.0
        31      02    2013  0.0  0.0  0.0
        32      01    2013  0.0  0.0  0.0
                02    2013  0.0  0.0  0.0
        33      01    2013  0.0  0.0  0.0

[5 rows x 34 columns]

In [11]:
pro_max_df = train_df.groupby(["shop_id","item_id","month","year","date_block_num"]).agg({"item_price":"max"}).unstack().fillna(0)
pro_max_df.head()

                           item_price                                       \
date_block_num                     0      1    2    3    4    5    6    7
shop_id item_id month year
0       30      02    2013        0.0  265.0  0.0  0.0  0.0  0.0  0.0  0.0
        31      02    2013        0.0  434.0  0.0  0.0  0.0  0.0  0.0  0.0
        32      01    2013      221.0    0.0  0.0  0.0  0.0  0.0  0.0  0.0
                02    2013        0.0  221.0  0.0  0.0  0.0  0.0  0.0  0.0
        33      01    2013      347.0    0.0  0.0  0.0  0.0  0.0  0.0  0.0

                                     ...                                      \
date_block_num               8    9  ...    24   25   26   27   28   29   30
shop_id item_id month year           ...
0       30      02    2013  0.0  0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0
        31      02    2013  0.0  0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0
        32      01    2013  0.0  0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0
                02    2013  0.0  0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0
        33      01    2013  0.0  0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0


date_block_num               31   32   33
shop_id item_id month year
0       30      02    2013  0.0  0.0  0.0
        31      02    2013  0.0  0.0  0.0
        32      01    2013  0.0  0.0  0.0
                02    2013  0.0  0.0  0.0
        33      01    2013  0.0  0.0  0.0

[5 rows x 34 columns]

In [12]:
pro_min_df.equals(pro_max_df) # 가격의 변동이 있다

False

In [13]:
pro_df = pro_min_df.where((pro_min_df == pro_max_df), other = np.nan)  # 최대와 최소 값 비교, 다르면 nan

In [14]:
null_columns=pro_df.columns[pro_df.isnull().any()]
sum(pro_df[null_columns].isnull().sum()) #총 nan값

94586

In [15]:
diffenent_price = (pro_df[pro_df.isnull().any(axis=1)][null_columns])

In [16]:
diffenent_price["price_fluctuation"] =np.ones(len(diffenent_price))

In [17]:
diffenent_price = diffenent_price.drop("item_price",axis =1 )

In [18]:
diffenent_price = diffenent_price.reset_index()
diffenent_price.head()

               shop_id item_id month  year price_fluctuation
date_block_num
0                    0      51    01  2013               1.0
1                    0    2678    02  2013               1.0
2                    0    2748    01  2013               1.0
3                    0    2761    01  2013               1.0
4                    0    3320    01  2013               1.0

In [19]:
price_fluctuation_df =pd.merge(train_df, diffenent_price, on=['shop_id','item_id','month','year'], how='outer').fillna(0)
price_fluctuation_df.head()

C:\Users\my\Miniconda3\envs\ml_python\lib\site-packages\pandas\core\reshape\merge.py:551: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)
C:\Users\my\Miniconda3\envs\ml_python\lib\site-packages\pandas\core\reshape\merge.py:862: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  self.right = self.right.drop(right_drop, axis=1)

,date_block_num,shop_id,item_id,item_price,day,month,year,"(price_fluctuation, )"
0,0,59,22154,999.00,02,01,2013,0.0
1,0,25,2552,899.00,03,01,2013,0.0
2,0,25,2552,899.00,05,01,2013,0.0
3,0,25,2554,1709.05,06,01,2013,0.0
4,0,25,2555,1099.00,15,01,2013,0.0

In [20]:
price_fluctuation_df.head()

,date_block_num,shop_id,item_id,item_price,day,month,year,"(price_fluctuation, )"
0,0,59,22154,999.00,02,01,2013,0.0
1,0,25,2552,899.00,03,01,2013,0.0
2,0,25,2552,899.00,05,01,2013,0.0
3,0,25,2554,1709.05,06,01,2013,0.0
4,0,25,2555,1099.00,15,01,2013,0.0

In [21]:
price_fluctuation_df.columns.values[-1] = 'price_fluctuation'

In [22]:
price_fluctuation_df.shape

(2935849, 8)

In [23]:
train_df = price_fluctuation_df
train_df.head()

,date_block_num,shop_id,item_id,item_price,day,month,year,price_fluctuation
0,0,59,22154,999.00,02,01,2013,0.0
1,0,25,2552,899.00,03,01,2013,0.0
2,0,25,2552,899.00,05,01,2013,0.0
3,0,25,2554,1709.05,06,01,2013,0.0
4,0,25,2555,1099.00,15,01,2013,0.0

In [24]:
train_df['ID'] = train_df.index
train_df.head()

,date_block_num,shop_id,item_id,item_price,day,month,year,price_fluctuation,ID
0,0,59,22154,999.00,02,01,2013,0.0,0
1,0,25,2552,899.00,03,01,2013,0.0,1
2,0,25,2552,899.00,05,01,2013,0.0,2
3,0,25,2554,1709.05,06,01,2013,0.0,3
4,0,25,2555,1099.00,15,01,2013,0.0,4

In [25]:
train_df = train_df.drop("day",axis =1 )
train_df = train_df.drop("item_price",axis =1 )

# test

In [26]:
test_df = pd.read_csv("data/test.csv")

In [27]:
test_df['month'] =11
test_df['year'] = 2015
test_df['date_block_num']= 34
test_df["price_fluctuation"] = 0
# test_df["Outbound"] = 0
test_df = test_df.sort_values("ID")
test_df.head()

   ID  shop_id  item_id  month  year  date_block_num  price_fluctuation
0   0        5     5037     11  2015              34                  0
1   1        5     5320     11  2015              34                  0
2   2        5     5233     11  2015              34                  0
3   3        5     5232     11  2015              34                  0
4   4        5     5268     11  2015              34                  0

In [28]:
test_df.columns

Index(['ID', 'shop_id', 'item_id', 'month', 'year', 'date_block_num',
       'price_fluctuation'],
      dtype='object')

In [29]:
train_df.columns

Index(['date_block_num', 'shop_id', 'item_id', 'month', 'year',
       'price_fluctuation', 'ID'],
      dtype='object')

# Evaluation

In [30]:
y_data.shape

(2935849, 1)

In [31]:
test_data = test_df.values

In [32]:
test_data.shape

(214200, 7)

In [33]:
x_data = train_df.values

In [34]:
x_data.shape

(2935849, 7)

In [35]:
from sklearn.linear_model import Lasso,LinearRegression
lr_simple = LinearRegression().fit(x_data, y_data)
lr_lasso = Lasso().fit(x_data, y_data)

In [36]:
y_hat_simple = lr_simple.predict(test_data)

In [37]:
simple_lr_result = pd.DataFrame(y_hat_simple, columns=["item_cnt_month"])
simple_lr_result.index.name = 'ID'
simple_lr_result.to_csv("simple_lr_result.csv", sep=",")
simple_lr_result.head()

    item_cnt_month
ID
0         6.407098
1         6.403906
2         6.398366
3         6.393371
4         6.388612

In [38]:
y_hat_lasso = lr_lasso.predict(test_data)

In [39]:
lasso_lr_result = pd.DataFrame(y_hat_lasso, columns=["item_cnt_month"])
lasso_lr_result.index.name = 'ID'
lasso_lr_result.to_csv("lasso_lr_result.csv", sep=",")
lasso_lr_result.head()

    item_cnt_month
ID
0         1.173966
1         1.175394
2         1.174955
3         1.174950
4         1.175131

In [41]:
lasso_lr_result.to_csv("price.csv", sep=",")