In [1]:
import pandas as pd

In [2]:
from sklearn.datasets import load_boston
import matplotlib.pyplot as plt
import numpy as np
import random
%matplotlib inline

In [3]:
item_category_df = pd.read_csv("data/item_categories.csv")
items_df = pd.read_csv("data/items.csv")
shops_df = pd.read_csv("data/shops.csv")

train_df = pd.read_csv("data/sales_train_v2.csv")
test_df = pd.read_csv("data/test.csv")

In [4]:
train_df.head()ㄴ

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [5]:
train_df =train_df.drop("date",axis =1) #str이어서 빼줌

In [6]:
x_data = train_df.values

In [7]:
x_data.shape

(2935849, 5)

In [8]:
y_data = train_df.item_cnt_day.reshape(train_df.item_cnt_day.size,1)

/home/rosa/miniconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  """Entry point for launching an IPython kernel.

In [9]:
from sklearn import preprocessing

minmax_scale = preprocessing.MinMaxScaler(feature_range=(0,5)).fit(x_data)
x_scaled_data = minmax_scale.transform(x_data)

x_scaled_data[:3]

array([[0.        , 5.        , 4.9966169 , 0.01623477, 0.05248745],
       [0.        , 2.11864407, 0.57557851, 0.01461129, 0.05248745],
       [0.        , 2.11864407, 0.57557851, 0.01461129, 0.04792332]])

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x_scaled_data, y_data, test_size=0.33)

In [11]:
y_data.shape

(2935849, 1)

In [12]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1967018, 5), (968831, 5), (1967018, 1), (968831, 1))

In [13]:
from sklearn import  linear_model

regr = linear_model.LinearRegression(n_jobs=1)
regr.fit(X_train, y_train)
regr

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [14]:
print('Coefficients: ', regr.coef_) # w1
print('intercept: ', regr.intercept_) #w0

Coefficients:  [[-5.65223852e-17  1.11022302e-16  3.60822483e-16 -6.93195501e-15
   4.38200000e+02]]
intercept:  [-22.]

# Metric 측정

In [16]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [17]:
y_true = y_test
y_hat = regr.predict(X_test)

r2_score(y_true, y_hat), mean_absolute_error(y_true, y_hat), mean_squared_error(y_true, y_hat)
# r2_score : 1에 가까우면 좋음

(1.0, 4.1439133717796046e-10, 1.7172018034108267e-19)

In [18]:
y_true = y_train
y_hat = regr.predict(X_train)

r2_score(y_true, y_hat), mean_absolute_error(y_true, y_hat), mean_squared_error(y_true, y_hat)

(1.0, 4.143913382356336e-10, 1.717201812134826e-19)