In [1]:
import pandas as pd
from googletrans import Translator

In [2]:
item_category_df = pd.read_csv("data/item_categories.csv")
items_df = pd.read_csv("data/items.csv")
shops_df = pd.read_csv("data/shops.csv")

In [3]:
trans = Translator()
def translate(column):
    en_list=[]
    for word in column:
        en = trans.translate(word, dest='en')
        en_list.append(en.text)
    return en_list

In [4]:
item_category_df["item_category_name"] = translate(item_category_df["item_category_name"])
item_category_df.head()

           item_category_name  item_category_id
0  PC - Headsets / Headphones                 0
1           Accessories - PS2                 1
2           Accessories - PS3                 2
3           Accessories - PS4                 3
4           Accessories - PSP                 4

In [5]:
shops_df["shop_name"] = translate(shops_df["shop_name"])
shops_df.head()

                               shop_name  shop_id
0       Yakutsk Ordzhonikidze, 56 francs        0
1             Yakutsk TC "Central" franc        1
2          Adygea Shopping Center "Mega"        2
3       Balashikha TRK "October-Kinomir"        3
4  Volzhsky shopping center "Volga Mall"        4

# Issue.1

### items는 영어로 번역하는 과정 중 오류 발생
### 1. 오류나는 데이터를 빼고 갈지
### 2. en이 아닌 ko로 할지

In [ ]:
for i in range(len(items_df)):
    try:
        items_df["en_item_name"] = translate(items_df["item_name"])
    except:
        pass
items_df.head()